.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Darker overlay */
}

.modal-content {
    background-color: #333; /* Dark background */
    color: #fff; /* Light text */
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tabs button {
    flex-grow: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #555; /* Darker buttons */
    color: #ddd; /* Lighter text */
    margin-right: 2px;
    outline: none;
}

.tabs button.active {
    background-color: #777; /* Active tab darker */
    color: #fff;
}

.tab-content {
    flex-grow: 1;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: #ff4545; /* Keep the close button color for visibility */
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #777; /* Darker borders */
    background-color: #555; /* Darker input fields */
    color: #ddd; /* Lighter text */
}